# Generic ignores
*.log
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__

# Directory (contents) ignores
config/.cloud
config/.storage
config/deps
.cloud
.storage
deps

# Specific file ignores
config/.config_entries.json
config/.homekit.state
config/.ios.conf
config/.spotify-token-cache
config/.tradfri_psk.conf
config/.uuid
config/.HA_VERSION
config/core
config/html5_push_registrations.conf
config/ip_bans.yaml
config/known_devices.yaml
config/options.xml
config/OZW_Log.txt
config/pyozw.sqlite
config/secrets.yaml
config/zwcfg_*
config/zwscene.xml
.config_entries.json
.homekit.state
.ios.conf
.spotify-token-cache
.tradfri_psk.conf
.uuid
.HA_VERSION
core
html5_push_registrations.conf
ip_bans.yaml
known_devices.yaml
options.xml
OZW_Log.txt
pyozw.sqlite
secrets.yaml
zwcfg_*
zwscene.xml

# Ignore add-on files
config/aircast.xml
config/airsonos.xml
config/notebooks
aircast.xml
airsonos.xml
notebooks

# Ignore files created by IDE's
.vscode
.theia
.Trash*

# Specific keeps
!.gitkeep